@import './vars.sass'
@import './fonts.sass'
@import './modificators.sass'

@import '~bootstrap/scss/bootstrap.scss'


*
  font-family: 'Philosopher', sans-serif
  font-display: auto
  color: $black
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased


.App
  // overflow: hidden
  width: 100%
  height: 100%