@import './theme.css'
@import './vars.sass'
@import './fonts.sass'
@import './modificators.sass'

@import '~bootstrap/scss/bootstrap.scss'


#root
  background-color: $main-background

*
  font-family: 'Philosopher', sans-serif
  font-display: auto
  color: $main-text
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased

.Img
  width: 100%
  transition: opacity $menu-transition
  &--hidden
    opacity: 0
  &__img
    width: 100%
    &--portrait
      width: 100%
      height: auto
    &--landscape
      width: auto
      height: 100%

.Link
  color: $black
  &:hover
    text-decoration: none
    color: $black
  &--active
    cursor: default
  &--disabled
    opacity: .5
    cursor: not-allowed

.App
  // overflow: hidden
  width: 100%
  height: 100%


.Header
  width: 100vw
  height: 80px
  background-color: $white
  &__link
    svg
      width: 40px
      height: 40px

.Title
  width: 100vw
  height: 100vh
  .container
    height: 100%
  &__h1
    font-family: 'Druk'
    font-weight: bold
    line-height: .9
    &--horizontal
      text-align: right
  &__avatar
    display: inline-block
    aspect-ratio: 1 / 1
    position: relative
    &__img
      @extend .abs-cover

.Projects
  .Project